:root {
    /* Header */
    --header-color: #004d65ed;
    --header-bg-color: #ffffff00;
    --header-icon-color: #fefefe;
    --header-text-color: #fefefe;
    --header-text-shadow-color:#00000080;
    --header-bordercolor-1: #dfeed4ff;
    --header-bordercolor-2: #dfeed4ff;
    --header-bg-image: none;
  
  /* Hero */
    --hero-bg-image-fg-color: #f4dec3;
    --hero-bg-color: #ffffff00;
    --hero-text-color: #000000;

  /* Main */
    --main-bg: #ffffff;
    --main-bg-color: #f4dec3;
    --main-text-color: #000000;

  /* Menu */
    --menu-bg-color-1: #c61c0300;
    --menu-bg-color-2: #85060600;
    --menu-text-color: #000000;


  /* Buttons */
    --button-color1: #c61c03;
    --button-color2: #200;
    --button-text-color1: #fefefe;
    --selected-button-color1: #c61c03;
    --selected-button-color2: #c61c03;
    --selected-button-color3: #ffffffa6;
    --selected-text-color1: #000000;
    
    


}
